<div class='banner' title="{{data.title}}">
    <div class="content-banner course-banner">
        <div class="l-form">
            <form action="POST">
                <div class="form-group">
                  <label for="">Tên học viên</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Nguyễn văn A">
                </div>
                <div class="form-group">
                  <label for="">Số điện thoại</label>
                  <input type="text" class="form-control" name="tel" id="tel" placeholder="032.xxx.xxxx">
                </div>
                <div class="form-group">
                    <label for="">Ngôn ngữ</label>
                    <select class="form-control" name="lang" id="lang">
                      <option>C</option>
                      <option>C++</option>
                      <option>C#</option>
                      <option>Java</option>
                      <option>Javascript</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-primary">Submit</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
